In [1]:
import os
import json
import requests as rq
import pandas as pd

In [2]:
URL_HASURA = 'http://localhost:8080'
HASURA_ADMIN_SECRET = 'osolemio'

class Query:
    def __init__(self):
        self.url = f'{URL_HASURA}/v1/graphql'
        
    def run(self, query, variables):
        token = HASURA_ADMIN_SECRET
        headers = {
            'content-type': 'application/json',
            'x-hasura-admin-secret': HASURA_ADMIN_SECRET,
        }
        self.res = rq.post(self.url,
                           headers=headers,
                           json={'query': query, 'variables': variables})
        if self.res.status_code != 200:
            return {'error': {'status_code': self.res.status_code,
                              'content': self.res.content}}
        return self.res.json()

q = Query()

In [3]:
%%time

query = '''
query MyQuery {
  _onetomany_article(limit: 3) {
    author_id
    id
    rating
    title
  }
}
'''
variables = {}
res = q.run(query, variables)

if 'errors' in res:
    print(res['errors'])
else:    
    data = []
    for e in res['data']['_onetomany_article']:
        data.append(e)

    df = pd.DataFrame(data)
    display(df)

   author_id  id  rating                                              title
0          3   1       3  Oh, hi , Marty. I didn't hear you come in. Fas...
1          1   2       1                             Erased from existence.
2          6   3       2  No no no, Doc, I just got here, okay, Jennifer...

CPU times: user 10.6 ms, sys: 1.99 ms, total: 12.6 ms
Wall time: 13.4 ms